 # Markov Bases

Consider the following data set from [AM12].  It is a 12 × 12 *contingency table*, where the rows correspond to birth months and the columns correspond to death months for 82 descendents of Queen Victoria.

In [6]:
birth_death <- data.frame(
    "January deaths" = c(1,1,1,3,2,2,2,0,0,1,0,0),
    "February deaths" = c(0,0,0,0,1,0,0,0,0,1,1,1),
    "March deaths" = c(0,0,0,2,1,0,2,0,0,0,1,1),
    "April deaths" = c(0,1,0,0,1,0,1,3,1,2,1,0),
    "May deaths" = c(1,0,2,0,1,1,0,0,1,0,2,0),
    "June deaths" = c(2,0,1,0,1,0,0,0,0,0,0,0),
    "July deaths" = c(0,0,0,1,1,0,0,1,0,1,0,1),
    "August deaths" = c(0,0,0,0,1,0,0,0,0,0,2,0),
    "September deaths" = c(1,0,0,1,1,0,1,0,0,0,0,0),
    "October deaths" = c(0,1,0,3,1,0,1,1,0,1,1,0),
    "November deaths" = c(1,0,0,1,1,0,1,0,1,1,1,0),
    "December deaths" = c(0,2,1,1,0,0,2,2,0,0,0,0),
    row.names = c("January births", "February births", "March births",
                 "April births", "May births", "June births",
                 "July births", "August births", "September births",
                 "October births", "November births", "December births"))
birth_death

                 January.deaths February.deaths March.deaths April.deaths
January births   1              0               0            0
February births  1              0               0            1
March births     1              0               0            0
April births     3              0               2            0
May births       2              1               1            1
June births      2              0               0            0
July births      2              0               2            1
August births    0              0               0            3
September births 0              0               0            1
October births   1              1               0            2
November births  0              1               1            1
December births  0              1               1            0
                 May.deaths June.deaths July.deaths August.deaths
January births   1          2           0           0
February births  0          0           0           0
March births     2          1           0           0
April births     0          0           1           0
May births       1          1           1           1
June births      1          0           0           0
July births      0          0           0           0
August births    0          0           1           0
September births 1          0           0           0
October births   0          0           1           0
November births  2          0           0           2
December births  0          0           1           0
                 September.deaths October.deaths November.deaths
January births   1                0              1
February births  0                1              0
March births     0                0              0
April births     1                3              1
May births       1                1              1
June births      0                0              0
July births      1                1              1
August births    0                1              0
September births 0                0              1
October births   0                1              1
November births  0                1              1
December births  0                0              0
                 December.deaths
January births   0
February births  2
March births     1
April births     1
May births       0
June births      0
July births      2
August births    2
September births 0
October births   0
November births  0
December births  0

Here's our question -- are birth month and death month *independent*?

One way of answering this sort of question is using *Pearon's chi-squared test for independence*, which is usually covered in an elementary statistics course.  But for this data set, it's not ideal since the data is so sparse (lots of entries with 0's).  The rule of thumb is to use Pearson's chi-squared test when most entries are at least 5, which is definitely not the case here!

[AM12] D. F. Andrews and A. M. Herzberg. *Data: a collection of problems from many fields for the student and
research worker*. Springer Science & Business Media, 2012